<div class="footer-top">
	<div class="container">
		<div class="row flex-flow">
			<div class="col-sm-12 col-md-4 footer-sidebar">
				<div class="widget our-service">
					<h3 class="widget-title">Términos y condiciones</h3>
					<div class="content">
						<ul>
							<li><a th:href="@{/aviso-legal.pdf}" target="_blank">Aviso Legal</a></li>
							<li><a th:href="@{/privacidad.pdf}" target="_blank">Política de privacidad</a></li>
							<li><a th:href="@{/cookies.pdf}" target="_blank">Política de cookies</a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col-sm-12 col-md-4 footer-sidebar">
				<div class="widget contact-info">
					<h3 class="widget-title">Contacta con nosotros</h3>
					<div class="content">
						<p class="mail">e-commerce@springboot.com</p>
						<p class="phone"><i class="fa fa-whatsapp"></i> (+34) 111 111 11</p>
					</div>
				</div>
			</div>
			<div class="col-sm-12 col-md-4 footer-sidebar">
				<div class="widget widget_social">
					<h3 class="widget-title">Síguenos</h3>
					<div class="content">
						<div class="social">
	                        <a href="https://twitter.com/" target="_blank"><i class="fa fa-twitter"></i></a>
	                        <a href="https://www.instagram.com/" target="_blank"><i class="fa fa-instagram"></i></a>
	                        <a href="https://www.facebook.com/" target="_blank"><i class="fa fa-facebook"></i></a>
	                    </div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="footer-bottom">
	<div class="container">
	<div class="payment">
		
		<div class="list">
			<a href="#" class="item"><img class="payment-icon" th:src="@{/images/visa.png}" alt="visa"></a>
			<a href="#" class="item"><img class="payment-icon" th:src="@{/images/mastercard.png}" alt="mastercard"></a>
			<a href="#" class="item"><img class="payment-icon" th:src="@{/images/transfer.png}" alt="transferencia bancaria"></a>
		</div>
	</div>
	</div>
</div>