<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"  lang="es">

<head th:include="fragments/head"></head>
	<style type="text/css">
	.comment-form input[type="text"] {
	  width: 100%;
	}
	.comment-form input[type="password"] {
	  width: 100%;
	}
	.comment-form select {
	  width: 100%;
	}
	.comment-form {
   	  text-align: justify;
	}
	
	.checkbox{
	  margin-left: 5%;
	}
	
	.checkbox input[type="checkbox"]{
	  transform: scale(1.5);
	}
	</style>
<body>
	<div id="box-mobile-menu" class="box-mobile-menu full-height full-width">
		<div class="box-inner">
			<span class="close-menu"><span class="icon pe-7s-close"></span></span>
		</div>
	</div>
	<div id="header-ontop" class="is-sticky"></div>
	<!-- BEGIN HEADER INCLUDE -->
	<header th:include="fragments/header" id="header" class="header style5"></header>
	<!-- END HEADER -->
	<hr/>
	
	<h1 style="text-align:center">Mis datos</h1>
	<div class="main-container">
		<div class="container">
			<div id="comments">
			    <div class="comment-form login-form">
			    	<hr/>
		            <form  id="modify-user-form" method="post" th:action="@{/my-account}" th:object="${user}">
		                <div th:if="${infoMsg}" class="row">
		                	<p class="col-sm-4" style="color:#22ad41"><b th:text="${infoMsg}"></b></p>
	                	</div>
		                <div class="row">
		                	<div class="col-sm-6">
		                		<label for="name">Nombre y apellidos</label>
			                	<input th:field="*{fullName}" type="text" id="name" name="name" size="30" placeholder="Nombre y apellidos" aria-required="true" required>
		                	</div>
		                </div>
		                <div class="row">
		                	<div class="col-sm-3">
		                		<label for="email">E-MAIL</label>
			                	<input th:field="*{email}" type="text" id="email" name="email" size="30" placeholder="E-mail" aria-required="true" required>
			                </div>
			                <div class="col-sm-3">
		                		<label for="phone">Teléfono</label>
		                		<input th:field="*{contactInfo.phone}" type="text" id="phone" name="phone"  size="30" placeholder="Teléfono/Móvil" aria-required="true" required>
                			</div>
                			<div class="col-sm-6">
		                		<label for="dni">DNI/NIF</label>
		                		<input th:field="*{contactInfo.dni}" type="text" id="dni" name="dni"  size="30" placeholder="DNI o NIF" aria-required="true" required>
                			</div>
		                </div>
	                	 <div class="row">
		                	<div class="col-sm-4">
		                		<label for="country">País</label>
		                		<input th:field="*{contactInfo.country}" type="text" id="country" name="country" size="30" placeholder="País" aria-required="true" required>
		                	</div>
		                	<div class="col-sm-4">
		                		<label for="provincia">Provincia</label>
		                		<input th:field="*{contactInfo.province}" type="text" id="provincia" name="provincia"  size="30"  aria-required="true" required>
		                	</div>
		                	<div class="col-sm-4">
		                		<label for="localty">Localidad</label>
		                		<input th:field="*{contactInfo.localty}" type="text" id="localty" name="localty"  size="30" aria-required="true" required>
		                	</div>
		                </div>
		                <div class="row">
		                	<div class="col-sm-9">
		                		<label for="address">Dirección</label>
		                		<input th:field="*{contactInfo.address}" type="text" id="address" name="address"  size="30" placeholder="Domicilio" aria-required="true" required>
		                	</div>
		                	<div class="col-sm-3">
		                		<label for="postal-code">Código postal</label>
		                		<input th:field="*{contactInfo.postalCode}" type="text" id="postal-code" name="postal-code"  size="30" placeholder="Código postal" aria-required="true" required>
		                	</div>
		                </div>
		                <div class=""> 
			                <div class="row">
			                	<div class="col-sm-6">
			                		<label style="color:red" class="hide" id="password-mismatch">¡Las contraseñas no coinciden!</label>
			                	</div>
			                </div>
			                <div class="row">
			               		<div class="col-sm-6">
			                		<label for="password">Contraseña</label>
			                		<input th:field="*{password}" type="password" id="new-password" name="new-password" th:value="''"  size="30" placeholder="Contraseña" >
	                			</div>
		                		<div class="col-sm-6">
			                		<label for="password-repeat">Repite la contraseña</label>
			                		<input type="password" id="new-password-repeat" name="new-password-repeat"  size="30" placeholder="Repite la contraseña" >
	                			</div>
		                	</div>
		                	<input type="hidden" id="modifyPassword" name="modifyPassword"/>
		                </div>
		               	<div class="clear"></div>
		                <div  style="margin-top:30px" class="row">
		               	 	<div class="col-sm-12" style="text-align:center">
		                		<input type="submit" name="button" id="modify-btn-post" class="submit-btn" value="Modificar">
							</div>
						</div>
		            </form>
		            <hr/>
			    </div>  
			</div>
			      
	  	</div>
	</div>
	<footer th:include="fragments/footer" class="footer"></footer>
	<div th:include="fragments/scripts"></div>
</body>
</html>