<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"  lang="es">

<head th:include="fragments/head"></head>
<body>
	<div id="box-mobile-menu" class="box-mobile-menu full-height full-width">
		<div class="box-inner">
			<span class="close-menu"><span class="icon pe-7s-close"></span></span>
		</div>
	</div>
	<div id="header-ontop" class="is-sticky"></div>
	<!-- BEGIN HEADER INCLUDE -->
	<header th:include="fragments/header" id="header" class="header style5"></header>
	<!-- END HEADER -->
	<div class="main-container no-sidebar">

        <div class="container">

            <div class="main-content">

                <div class="page-title">

                    <h3 style="text-align:center">Información de Compra</h3>

                </div>

                <div class="row">
				<form th:object="${order}" th:action="@{/checkout}" method="POST">
				    <input type="hidden" th:field="*{item.id}">
                    <div class="col-sm-6">

                        <div class="form-checkout">

                            <h5 class="form-title">DIRECCIÓN DE ENVÍO</h5>

                            <div class="row">

                                <div class="col-sm-12">

                                    <p><input th:field="*{contactInfo.name}" type="text" placeholder="Nombre completo" required></p>

                                </div>

                            </div>
		
							<p><input th:field="*{contactInfo.dni}" type="text" placeholder="DNI" required></p>
							
                            <p><input th:field="*{contactInfo.address}" type="text" placeholder="Dirección" required></p>

                            <p><input th:field="*{contactInfo.localty}" type="text" placeholder="Ciudad" required></p>
                            
                            <p><input th:field="*{contactInfo.province}" type="text" placeholder="Provincia" required></p>

                            <p><input th:field="*{contactInfo.country}" type="text" placeholder="País" required></p>

                            <div class="row">

                                <div class="col-sm-6">

                                    <p><input th:field="*{contactInfo.postalCode}" type="text" placeholder="Código postal" required></p>

                                </div>

                                <div class="col-sm-6">

                                    <p><input th:field="*{contactInfo.phone}" type="text" placeholder="Teléfono" required></p>

                                </div>

                            </div>

                        </div>
                    </div>

                    <div class="col-sm-6">
                    	<div class="form-checkout order">

                            <h5 class="form-title">TU PRODUCTO</h5>

                            <table class="shop-table order">

                                <thead> 

                                    <tr>
                                        <th class="product-name">NOMBRE</th>
                                        <th class="total">TOTAL</th>
                                    </tr>

                                </thead>

                                <tbody>

                                    <tr>
                                        <td class="product-name" th:text="${order.item.title}">Producto</td>
                                        <td class="total"><span class="price" th:text="${#numbers.formatDecimal(order.item.price, 0, 'POINT', 2, 'COMMA') + ' €'}"></span></td>
                                    </tr>

                                    <tr class="order-total">

                                        <td class="subtotal">TOTAL A ABONAR</td>

                                        <td class="total"><span class="price" th:text="${#numbers.formatDecimal(order.item.price, 0, 'POINT', 2, 'COMMA') + ' €'}"></span></td>

                                    </tr>

                                </tbody>

                            </table>

                        </div>
                    	

                        <div class="form-checkout checkout-payment">

                            <h5 class="form-title">MÉTODO DE PAGO</h5>

                            <div class="payment_methods">

                                <div class="payment_method">

                                    <label><input name="payment_method" type="radio">TRANSFERENCIA BANCARIA</label>

                                    <div class="payment_box">

                                       Nulla laoreet ipsum dignissim magna maximus, vitae euismod turpis iaculis. Sed phare tra lacus sit amet dui consequat dignissim bibendum ullamcorper sem.

                                    </div>

                                </div>

                                <div class="payment_method">

                                    <label><input name="payment_method" type="radio" checked>TARJETA DE CRÉDITO</label>

                                    <div class="payment_box">

                                       Nulla laoreet ipsum dignissim magna maximus, vitae euismod turpis iaculis. Sed phare tra lacus sit amet dui consequat dignissim bibendum ullamcorper sem.

                                    </div>

                                </div>


                            </div>
                            <input style="float:right" type="submit" name="button" class="submit-btn" value="Proceder al pago">

                        </div>

                    </div>
				</form>
                </div>

            </div>

        </div>

    </div>

	<footer th:include="fragments/footer" class="footer"></footer>
	<div th:include="fragments/scripts"></div>
</body>
</html>