<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head th:include="fragments/head"></head>

<style type="text/css">

.product-details-right .product-name {
    font-size: 16px;
    color: #222;
    text-transform: none !important; 
    margin-bottom: 10px;
}
.kt-contact-form textarea {
    height: 150px;
}

</style>
<body>
	<div id="box-mobile-menu" class="box-mobile-menu full-height full-width">
	    <div class="box-inner">
	        <span class="close-menu"><span class="icon pe-7s-close"></span></span>
	    </div>
	</div>
	<div id="header-ontop" class="is-sticky"></div>
	<div id="header-ontop" class="is-sticky"></div>
	<!-- BEGIN HEADER INCLUDE -->
	<header th:include="fragments/header" id="header" class="header style5"></header>
	<!-- END HEADER -->
	<div class="product-details-full">                            
	  <div class="container">
	      <div class="row">
	          <div class="col-md-7 col-lg-7 col-sm-12">
	              <div class="product-detail-image">
	                  <div class="thumbnails">
	                      <a th:attr="data-url=@{'/products/' +${item.id} +'/image/'+ ${item.images[0].id}}" class="active" href="#"><img th:src="@{'/products/' +${item.id} +'/image/'+ ${item.images[0].id}}" alt=""></a>
	                      <a th:if="${item.images?.size > 1}" th:attr="data-url=@{'/products/' +${item.id} +'/image/'+ ${item.images[1].id}}" href="#"><img th:src="@{'/products/' +${item.id} +'/image/'+ ${item.images[1].id}}" alt=""></a>
	                      <a th:if="${item.images?.size > 2}" th:attr="data-url=@{'/products/' +${item.id} +'/image/'+ ${item.images[2].id}}" href="#"><img th:src="@{'/products/' +${item.id} +'/image/'+ ${item.images[2].id}}" alt=""></a>
	                  </div>
	                  <div class="main-image-wapper">
	                      <img class="main-image" th:src="@{'/products/' +${item.id} +'/image/'+ ${item.images[0].id}}" alt="">
	                  </div>
	              </div>
	          </div>
	          <div class="col-md-5 col-lg-5 col-sm-12">
	              <div class="product-details-right">
	                  <div class="breadcrumbs">
	                        <h2 th:text="${item.title}"></h2>
	                  </div>
	                  <h3 class="product-name" th:text="${item.description}">Readwing Shoes 875 MOC</h3>

	                  <div class="short-descript">
	               
		                <li th:if="${item.brand}"><b>Marca:</b> <span th:text="${item.brand}"></span></li>
	                	<li th:if="${item.itemYear}"><b>Año:</b> <span th:text="${item.itemYear}"></span></li>
	                	<li th:if="${item.itemSize}"><b>Talla:</b> <span th:text="${item.itemSize}"></span></li>
	                    
	                  </div>
	                    
	                   <span class="price">
	                      <ins th:text="${#numbers.formatDecimal(item.price, 0, 'POINT', 2, 'COMMA') + ' €'}"></ins>
	                  </span>
	                  <input id="product-id" type="hidden" th:value="${item.id}"/>
	                  <form class="cart" enctype="multipart/form-data" method="post">
	                  	  <a th:if="${item.itemState.name() == 'AVAILABLE'}" class="button add-wishlist" href="#" th:attr="data-id=${item.id}"><i class="fa fa-heart-o"></i></a>
	                      <a th:if="${item.itemState.name() == 'AVAILABLE'}" th:attr="data-id=${item.id}" class="button btn-buyout" href="#">Comprar</a>
	                      <a sec:authorize="hasRole('ROLE_ADMIN')" class="button" data-quantity="1" th:href="@{'/products/' +${item.id} + '/update'}">Modificar</a>
	                      <a sec:authorize="hasRole('ROLE_ADMIN')" th:attr="data-id=${item.id}" class="button btn-delete-product-pre" href="#" >Eliminar</a>
	                  </form>  
	              </div>
	          </div>
	      </div>
	    </div>
	</div>
	<div class="container">
		 <div class="row">
            <div class="col-sm-12">
                <div class="kt-contact-form margin-top-60">
                    <div id="message-box-conact"></div>
                    <h3 class="title">¿Quieres hacerle una pregunta al vendedor?</h3>
                    <p>
                        <input id="user-name" type="text" placeholder="Tu nombre">
                    </p>
                    <p>
                        <input id="user-email" type="email" placeholder="Tu e-mail">
                    </p>
                    <p>
                        <textarea id="user-message-content" placeholder="¡Tu mensaje!"></textarea>
                    </p>
                   
                    <div class="checkbox"><input id="checkbox-legal-1" type="checkbox" value=""><label>	He leído y acepto el <a th:href="@{/aviso-legal.pdf}" target="_blank">aviso legal</a></label></div>
                    
                    <button style="text-align:center;margin-top:50px" id='btn-send-contact-vendor' class="button">Enviar mensaje</button>
                </div>
            </div>
        </div>                        
	
	<div  th:include="fragments/pre_footer" class="margin-top-60"></div>
	</div> <!--END CONTAINER-->                                             
	

    <footer th:include="fragments/footer" class="footer"></footer>
	<div th:include="fragments/scripts"></div>
</body>
</html>