<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"  lang="es">

<head th:include="fragments/head">
</head>


<body>
	<div id="box-mobile-menu" class="box-mobile-menu full-height full-width">
		<div class="box-inner">
			<span class="close-menu"><span class="icon pe-7s-close"></span></span>
		</div>
	</div>
	<div id="header-ontop" class="is-sticky"></div>
	<!-- BEGIN HEADER INCLUDE -->
	<header th:include="fragments/header" id="header" class="header style5"></header>
	<!-- END HEADER -->
	<div class="main-container">
		<div class="container">
			<div id="comments">
			    <div class="comment-form login-form">
			    	<hr/>
			    	<h3 style="text-align:center;margin-bottom:50px">Completar información de envío</h3>
		            <form id="shipping-details-form" method="post" th:action="@{/products/complete-shipping-details}" th:object="${orderInfo}">
		                <div class="row" style="margin-bottom:50px">
		                	<div class="col-sm-3">
		                		<label for="width">Ancho(cm) <span class="span-required">(*)</span></label>
			                	<input th:field="*{width}" type="number" min="0" step="1" id="width" placeholder="Ancho en cm"  required>
		                	</div>
		                	<div class="col-sm-3">
		                		<label for="height">Alto (cm) <span class="span-required">(*)</span></label>
		                		<input th:field="*{height}" type="number" min="0" step="1" id="height"  placeholder="Alto en cm"  required>
                			</div>
                			<div class="col-sm-3">
		                		<label for="lenght">Largo(cm) <span class="span-required">(*)</span></label>
			                	<input th:field="*{lenght}" type="number" min="0" step="1" id="lenght" placeholder="Largo en cm"  required>
		                	</div>
		                	<div class="col-sm-3">
		                		<label for="weight">Peso (gramos) <span class="span-required">(*)</span></label>
		                		<input th:field="*{weight}" type="number" min="0" step="0.01" id="weight"  placeholder="Peso en gramos"  required>
                			</div>
		                </div> 
		               	<input type="hidden" name="orderId" th:value="${orderId}"/>
		               	<input type="hidden" name="itemId" th:value="${itemId}"/>
		                <div style="text-align:center" class="row">
		                	<input type="submit" name="button" class="submit-btn" value="Completar">
						</div>
		            </form>
			    </div>  
			</div>
			      
	  	</div>
	</div>
	<footer th:include="fragments/footer" class="footer"></footer>
	<div th:include="fragments/scripts"></div>
</body>
</html>