<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title th:utext="${title}" />
</head>
<body>
    <h1>Thymeleaf</h1>
    <h2>Fundamentals</h2>
    <ul>
        <li><a th:href="@{template1}">Navigation</a></li>
        <li><a th:href="@{form1}">Forms</a></li>
    </ul>
    <h2>Referencias</h2>
    <ul>
        <li><a href="https://www.thymeleaf.org/documentation.html" target="_blank">https://www.thymeleaf.org/documentation.html</a></li>
        <li><a href="https://spring.io/guides/gs/handling-form-submission/" target="_blank">https://spring.io/guides/gs/handling-form-submission/</a></li>
    </ul>
</body>
</html>
