* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f1f1f1;
    line-height: 1.7;
    color: #323330;
}

a {
    text-decoration: none;
    color: #f2bb13;
}

a:hover {
    text-decoration: underline;
}


.container {
    display: flex;
    flex-direction: row;

}

.container h2 {
    font-size: 1.2rem;
    font-weight: normal;
}


.container .user {
    background-color: #fff;
    padding: 2rem;
    border: solid 1px #ccd0d4;
    border-radius: 0.3rem;
    text-align: center;
    margin: 1rem;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .04);
}

.container img {
    border-radius: 50%;
    padding: 1rem;
    background-color: #f4f4f4;
}

@media(max-width:560px) {
    .container {
        display: flex;
        flex-direction: column;

    }
}