<div class="row">
	<div class="col-sm-12 col-md-4">
              <div class="element-icon style2">
			<div class="icon"><i class="flaticon flaticon-origami28"></i></div>
			<div class="content">
				<h4 class="title">Devolución gratuita</h4>
			</div>
		</div>
	</div>
	<div class="col-sm-12 col-md-4">
              <div class="element-icon style2">
			<div class="icon"><i class="flaticon flaticon-curvearrows9"></i></div>
			<div class="content">
				<h4 class="title">Dale una segunda vida</h4>
			</div>
		</div>
	</div>
	<div class="col-sm-12 col-md-4">
              <div class="element-icon style2">
			<div class="icon"><i class="flaticon flaticon-headphones54"></i></div>
			<div class="content">
				<h4 class="title">Atención al cliente 24/7</h4>
			</div>
		</div>
	</div>
</div>